scripts/n8n_workflow_instagram.json
{
	"name": "Instagram Image Post via Webhook",
	"nodes": [
		{
			"parameters": {
				"path": "post-to-ig",
				"options": {}
			},
			"id": "webhook-trigger",
			"name": "Webhook",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 1,
			"position": [
				240,
				300
			]
		},
		{
			"parameters": {
				"jsCode": "// Validate input\nconst input = $input.first().json;\nif (!input.imageUrl) {\n  throw new Error('Missing imageUrl in payload');\n}\nreturn {\n  imageUrl: input.imageUrl,\n  caption: input.caption || 'Posted via n8n webhook!',\n  igUserId: 'YOUR_IG_USER_ID_HERE'  // Replace with your IG User ID\n};"
			},
			"id": "set-params",
			"name": "Set Parameters",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				460,
				300
			]
		},
		{
			"parameters": {
				"resource": "custom",
				"operation": "post",
				"url": "=https://graph.facebook.com/v19.0/{{$json.igUserId}}/media",
				"sendQuery": true,
				"queryParameters": {
					"parameters": [
						{
							"name": "image_url",
							"value": "={{$json.imageUrl}}"
						},
						{
							"name": "caption",
							"value": "={{$json.caption}}"
						}
					]
				},
				"options": {}
			},
			"id": "create-container",
			"name": "Create Media Container",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				680,
				300
			],
			"credentials": {
				"facebookGraphApi": {
					"id": "YOUR_CREDENTIAL_ID_HERE",
					"name": "Instagram Token"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict"
					},
					"conditions": [
						{
							"id": "error-check",
							"leftValue": "={{$json.error}}",
							"rightValue": "",
							"operator": {
								"type": "string",
								"operation": "isEmpty"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"id": "if-success",
			"name": "Check Container Success",
			"type": "n8n-nodes-base.if",
			"typeVersion": 2,
			"position": [
				900,
				300
			]
		},
		{
			"parameters": {
				"resource": "custom",
				"operation": "post",
				"url": "=https://graph.facebook.com/v19.0/{{$json.igUserId}}/media_publish",
				"sendQuery": true,
				"queryParameters": {
					"parameters": [
						{
							"name": "creation_id",
							"value": "={{$json.id}}"
						}
					]
				},
				"options": {}
			},
			"id": "publish-post",
			"name": "Publish Post",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				1120,
				200
			],
			"credentials": {
				"facebookGraphApi": {
					"id": "YOUR_CREDENTIAL_ID_HERE",
					"name": "Instagram Token"
				}
			}
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={ { success: true, postId: $json.id } }",
				"options": {}
			},
			"id": "success-response",
			"name": "Success Response",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1,
			"position": [
				1340,
				200
			]
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={ { error: $json.error || 'Publish failed' } }",
				"options": {
					"responseCode": 400,
					"responseMode": "responseNode"
				}
			},
			"id": "error-response",
			"name": "Error Response",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1,
			"position": [
				1340,
				400
			],
			"executeOnce": false
		}
	],
	"connections": {
		"Webhook": {
			"main": [
				[
					{
						"node": "Set Parameters",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Parameters": {
			"main": [
				[
					{
						"node": "Create Media Container",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Create Media Container": {
			"main": [
				[
					{
						"node": "Check Container Success",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check Container Success": {
			"main": [
				[
					{
						"node": "Publish Post",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Error Response",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Publish Post": {
			"main": [
				[
					{
						"node": "Success Response",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"settings": {
		"executionOrder": "v1"
	},
	"staticData": null,
	"tags": [],
	"triggerCount": 1,
	"updatedAt": "2025-12-05T04:00:00.000Z",
	"versionId": "unique-version-id"
}